.star-icon-color{
    color: orange;
}

.facebook-icon-color{
    color: rgb(24, 119, 242);
}

.twitter-icon-color{
    color: rgb(29, 161, 242);
}

.linkedin-icon-color{
    color: rgb(40, 103, 178);
}